.DS_Store

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
./bin
var
sdist
develop-eggs
.installed.cfg

.svn

nohup.out

node_modules/

.env

*.sqlite
*.sqlite3

.vagrant
