doctype html

html(lang="en")
    include head

    body
        #wrap
            .container
                block body
            #push
        #footer
            .container
                p.muted.credit some info goes here

        include foot