<!-- templates go here -->

<!-- JS goes at the bottom -->
<script src="/javascripts/libs/jquery.min.js"></script>
<script src="/javascripts/libs/json2.js"></script>
<script src="/javascripts/libs/underscore-min.js"></script>
<script src="/javascripts/libs/mustache.js"></script>
<script src="/javascripts/libs/backbone.js"></script>


<script src="/javascripts/libs/bootstrap/js/bootstrap-transition.js"></script>
<script src="/javascripts/libs/bootstrap/js/bootstrap-alert.js"></script>
<script src="/javascripts/libs/bootstrap/js/bootstrap-modal.js"></script>
<script src="/javascripts/libs/bootstrap/js/bootstrap-dropdown.js"></script>
<script src="/javascripts/libs/bootstrap/js/bootstrap-scrollspy.js"></script>
<script src="/javascripts/libs/bootstrap/js/bootstrap-tab.js"></script>
<script src="/javascripts/libs/bootstrap/js/bootstrap-tooltip.js"></script>
<script src="/javascripts/libs/bootstrap/js/bootstrap-popover.js"></script>
<script src="/javascripts/libs/bootstrap/js/bootstrap-button.js"></script>
<script src="/javascripts/libs/bootstrap/js/bootstrap-collapse.js"></script>
<script src="/javascripts/libs/bootstrap/js/bootstrap-carousel.js"></script>
<script src="/javascripts/libs/bootstrap/js/bootstrap-typeahead.js"></script>