extends base

block body
    .page-header
        h1 Eye Tracker Project

    a(href="/upload/", id="upload_button", class="pull-right btn btn-success", type="button")
        i(class="icon-upload icon-white")
        | Upload

    p.lead See all previously recorded eye-tracker sessions below. Feel free to browse.

    <!-- body -->
    .content_body